##### Sets in Python

A Set in Python is used to store a collection of items with the following properties.
- No duplicate elements. If try to insert the same item again, it overwrites previous one.
- An unordered collection. When we access all items, they are accessed without any specific order and we cannot access items using indexes as we do in lists.
- Mutable, meaning we can add or remove elements after their creation, the individual elements within the set cannot be changed directly.

In [3]:
ls = [10,20,30,10,10,40,30,20,40,50]
print(ls)

[10, 20, 30, 10, 10, 40, 30, 20, 40, 50]

In [7]:
set1 = {10,20,30,10,10,40,30,20,40,50}
print(set1)

{50, 20, 40, 10, 30}

In [13]:
set2 = set()
set2.add(10)
set2.add(20)
set2.add(30)
set2.add(40)
set2.add(50)
set2.add(10)
print(set2)

{40, 10, 50, 20, 30}

In [17]:
set2.remove(10)
print(set2)

{40, 50, 20, 30}

In [19]:
set1 = {10,20,30,40}
set2 = {10,20,30,50}
set3 = set1.union(set2)
print(set3)

{40, 10, 50, 20, 30}

In [21]:
set1 = {10,20,30,40}
set2 = {10,20,30,50}
set4 = set1.intersection(set2)
print(set4)

{10, 20, 30}

In [25]:
set1 = {10,20,30,40,50,60}
set2 = {10,20,30,50}
set5 = set1.difference(set2)
print(set5)

{40, 60}

In [27]:
set1 = {10,20,30,40,50,60}
set2 = {10,20,30,50,70,80}
set6 = set2.difference(set1)
print(set6)

{80, 70}

In [29]:
ls = [10,20,30,10,10,40,30,20,40,50]
res = set(ls)
print(res)

{40, 10, 50, 20, 30}

In [33]:
set1 = {80,90,91,100,101,200,201}
for i in set1:
    print(i)

80
100
101
200
201
90
91

In [35]:
set1 = {80,90,91,100,101,200,201}
num = 91
res1 = num in set1
print(res1)

True

In [39]:
set1 = {80,90,91,100,101,200,201}
num = 300
res1 = num in set1
print(res1)

False

In [43]:
list1 = [20,40,10,70]
list2 = [20,400,100,70]
set1 = set(list1)
set2 = set(list2)
print(set1)
print(set2)
res = set1.intersection(set2)
print(res)

{40, 10, 20, 70}
{400, 100, 20, 70}
{20, 70}

In [29]:
num1 = 5678
num2 = 6951

set1 = set()
set2 = set()
while num1 != 0:
    rem1 = num1 % 10
    set1.add(rem1)
    num1 = num1 // 10
print(set1)

while num2 != 0:
    rem2 = num2 % 10
    set2.add(rem2)
    num2 = num2 // 10
print(set2)

res = set1.intersection(set2)
print(res)

{8, 5, 6, 7}
{1, 5, 9, 6}
{5, 6}

In [51]:
list1 = [10,20,30,40,50]
list2 = [20,60,10,20,30]
#[40,50]
set1 = set(list1)
set2 = set(list2)
print(set1)
print(set2)
res = set1.difference(set2)
count = len(res)
res1 = sum(res)
print(res1/count)

{40, 10, 50, 20, 30}
{10, 20, 60, 30}
45.0